html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: "Lato", Helvetica, sans-serif;
    text-align: center;
    background-color: ghostwhite;
    
}


/* Hide other links with this class at the start up */
.appSPA {
    display: none;
}


.indexMenu {
    text-align: center;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 20px;
}

/* Menu styling for a tag buttons */
.linkButton {
    background-color: #ffffff;
    display: inline-block;
    border: solid;
    width: 70%;
    table-layout: fixed;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.linkConfirm {
    background-color: #8c52ff;
    display: inline-block;
    font-weight: bold;
    table-layout: fixed;
    border-collapse: collapse;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    border-radius: 5px;
}

.topSection {
    position: relative;
}

.moveHR {
    position: relative;
    bottom: 60px;
}
  

#notificationBell {
    display: inline-block;
    position: relative;
    left: 30%;
    bottom: 65px;
    background-color: ghostwhite;
    border-radius: 20px;
    height: auto;
    width: 45px;
    cursor: pointer;
    border: none;
    
}

#emailSender {
    color: red;
}

#locationManual {
    width: 57%;
}


/* Logo to be in top left corner at all times */
#logo {
    position:absolute; 
	top: -10.5%; 
	left: 0.5%; 
}

#socialDistancing {
    position: relative;
    height: 140px;
    width: auto;
    left: 2%;
    bottom: 30px;
}

/* Menu styling for buttons with button tag */
.menuButton {
    background-color: #ffffff;
    display: inline-block;
    width: 70%;
    table-layout: fixed;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border:solid;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }


.inputSection { 
    display: block;
    padding: 15px;
    margin: 5%;
    position: relative;
    left: 15%;
}

.labelReport {
    float:left;
    margin: 5px 0px;

    width:100px;
    position:relative;

}

.checkBoxStyling {
    position: relative;
    top: 50%;
    right: 10%;
}


.reportBox {
    height:30px;
    padding-bottom: 35px;

    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    z-index: -1;
}


.clear {
    clear: both;
}

  /* Design of a arrow to represent a back button in the mobile app */
  .back-button {
	display: inline-block;
	margin: 0 auto;
	padding: 37px 28px;
	border-radius: 50%;
    position: absolute; 
	top: 0; 
	left: -3%; 
}

.arrow {
    
	position: relative;
	display: block;
	width: 20px;
	height: 2px;
	background-color: #000000;
}
.arrow:before,
.arrow:after {
	content: '';
	position: absolute;
}
.arrow:before {
	top: -5px;
	left: -8px;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent; 
	border-right:8px solid #000000; 
}
/* Arrow button design ends here */

/* Self-Isolation countdown timer */
.clock-column {
    margin-right: 7rem;
    text-align: center;
    width: 100%;
}
.clock-column::after {
    content: ':';
    display: block;
    height: 0.25rem;
    width: 0.25rem;
    font-weight: 200;
    color: #131313;
    position: absolute;
    top: 60px;
    right: -35px;
}
.clock-column:last-child::after {
    display: none;
}

.clock-label {
    padding-top: 10px;
    text-transform: uppercase;
    color: #131313;
}
.clock-timer {
    color: #131313;

    line-height: 1;
}
.clock-input {
    clear: both;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto 10px;
}
input#time-to {
    padding: 5px;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    font-family: monospace;
    text-align: center;
    color: #010101;
    background-color: ghostwhite;
}
.done {
    color: #fff;
    font-weight: 600;
}